@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SproutWatch!</h1>
    <p>In SproutWatch, you can see your plants evolution in real time. They evolve offline, been controled by a sensor.</p>
</div>
